*{
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
body{
    background-color: rgb(255 234 96);
}
.parent {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    background-color: white;
    border-radius: 3%;
    border: 2px solid black;
    top: 10%;
    position: relative;
    box-shadow:  8px 9px 2px 1px;
    margin-left: 10px;
    padding: 20px;
}
.parent div{
    width: 100%;
} .parent .image1{

    width: 100%;
    border-radius: 3%;
}
.parent .for-learning{
    background-color: rgb(255 234 96);
    width: 30%;
    border-radius: 6%;
    text-align: center;
    padding: 8px;
    margin: 20px 0 ;
    font-weight: bold;
}
.parent .for-lorem{
    margin: 15px 0;
    opacity: .3;
}
.parent .image2{
    margin-top: 10px;
    height: 30px;
    width: 30px;
}
.parent .t2{
    font-weight: bolder;
    padding-left: 10px;
}

@media (min-width:779px){
    .parent{
        margin-left:440px ;
    }

}